.cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(8, 1fr);
    height: 80%;
    margin-top: 2rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#academy-card {
    grid-row-start: 1;
    grid-row-end: 5;
}

#academy-card img {
    height: 100px;
}

#academy-card-front {
    background: #ffffff;
}

#academy-back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

#academy-back button {
    color: white;
    font-size: 1.2rem;
    background: #2D99FF;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    border: none;
}

#academy-back button:hover {
    background: #006dd6;
}


#qa-card {
    grid-row-start: 5;
    grid-row-end: -1;
}

#qa-front {
    background: #52BF77;
    color: white;
    font-size: 65px;
}

#js-card {
    grid-row-start: 1;
    grid-row-end: 7;
}

#js-front {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: #F7CF69;
    font-size: 75px;
    font-weight: 900;
}

#java-card {
    grid-row-start: 7;
    grid-row-end: -1;
}

#java-card .flip-card-inner {
    transform: scaleY(1);
    transform-origin : 0 100%;
}
#java-card:hover .flip-card-inner {
    transform: scaleY(0);
    transform-origin : 0 100%;
}

#java-front {
    background: #E12B4C;
    color: white;
    font-size: 45px;
}

#php-card {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}
#php-card .flip-card-inner {
    transform-origin : 0 100%;
}

#php-card:hover .flip-card-inner {
    transform: scaleX(0) scaleY(0);
    transform-origin : 100% 0;
}

#php-front {
    background: #8893C0;
    font-size: 80px;
    font-style: italic;
}

#dotnet-card {
    grid-row-start: 4;
    grid-row-end: -1;
}

#dotnet-card .flip-card-inner {
    transform-origin : 0 100%;
}

#dotnet-card:hover .flip-card-inner {
    transform: scaleX(0) scaleY(0);
    transform-origin : 0 100%;
}

#dotnet-front {
    background: #642077;
    color: white;
    font-size: 75px;
}

#info-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-row-start: 4;
    grid-row-end: -1;
    width: 100%;
    height: 100%;
}

#info-card-container .flip-card-background {
    font-size: 0.8rem;
}

.flip-card-background {
    overflow-y: auto;
    overflow-x: hidden;
}

#events-card {
    grid-row-start: 1;
    grid-row-end: 3;
}

#events-card .flip-card-inner {
    transform-origin : 0 100%;
}

#events-card:hover .flip-card-inner {
    transform: scaleX(0);
    transform-origin : 100% 0;
}

#events-front {
    background: #2D99FF;
    color: white;
    font-weight: 700;
}

#blog-card {
    grid-row-start: 3;
    grid-row-end: 5;
}
#blog-card .flip-card-inner {
    transform-origin : 0 100%;
}

#blog-card:hover .flip-card-inner {
    transform: scaleX(0);
    transform-origin : 100% 0;
}

#blog-front {
    background: #0443A3;
    color: white;
    font-weight: 700;
}

#contacts-card {
    grid-row-start: 5;
    grid-row-end: -1;
}

#contacts-card .flip-card-background div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#contacts-card i {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    font-size: 30px;
    color: #1c1c1c;
}
#contacts-card i:hover {
    color: #2081be;
}
#contacts-card .flip-card-inner {
    transform-origin : 0 100%;
}

#contacts-card:hover .flip-card-inner {
    transform: scaleX(0);
    transform-origin : 100% 0;
}

#contacts-front {
    background: #00265F;
    color: white;
    font-weight: 700;
}



