.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flip-card-back {
    display: flex;
    background: white;
    font-size: 1.3rem;
    font-weight: 700;
    transform: rotateY(180deg);
}

.flip-card-back-containment {
    padding: 1rem;
}

.flip-card-background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    font-weight: 700;
    z-index: -1;
    background: white;
}
.flip-card-background div {
    display: flex;
    height: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
}
.flip-card-background p {
    padding-bottom: 1rem;
}
