.usericon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background: #bca61a;
    border-radius: 300px;
    color: white;
    cursor: pointer;
}

.menu {
    position: absolute;
    right: 0;
    width: 150px;
    padding: 15px 22px 10px 22px;
    background: white;
    pointer-events: auto;
    border-radius: 4px;
    z-index: 54;
    opacity: 0;
    visibility: hidden;
    transition: opacity 120ms ease-out;
    -webkit-box-shadow: 0px 0px 27px 2px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 0px 27px 2px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 0px 27px 2px rgba(0, 0, 0, 0.21);
}

.username {
    color: #aeaeae;
    text-align: center;
    margin-bottom: 0.5rem;
    cursor: default;
}

.menu ul {
    list-style: none;
    width: 80%;
}

.menu ul li {
    width: 100%;
}

.menu hr {
    height: 1px;
    border: none;
    color: #aeaeae;
    background-color: #aeaeae;
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    display: inline-flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 12px;
    width: 100%;
    height: 100%;
    color: #3b3b3b;
    border-radius: 4px;
    transition: background-color 150ms;
}

.menu a:hover {
    background-color: rgba(236, 236, 236, 0.8);
    transition: background-color 150ms;
}

.menu-item-icon {
    color: #5b5b5b;
}

