.right-nav {
    display: inline-flex;
    align-items: center;
}

.right-nav > * {
    margin-left: 20px;
}

.hoverable {
    opacity: 0.7;
    transition: opacity 200ms ease-out;
}
.hoverable:hover {
    opacity: 1.0;
    transition: opacity 200ms ease-out;
}

.user-menu {
    position:relative;
    display:inline-block;
    ​z-index:2;
    padding:0;
    outline:0;
}

.user-menu:focus {
    pointer-events:none;
}

.user-menu:focus .menu {
    opacity:1;
    visibility:visible;
}
