#notifications-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 280px;
}

.notification {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    background-color: rgba(115, 174, 98, 0.85);
    border-radius: 5px;
    padding: 1.5rem;
    margin:1rem;
    color: white;
}

.notif-icon {
    font-size:32px !important;
    margin-right: 1rem;
}

.notification p {
    font-weight: 300;
}
